aside {
  .button {
    width: 100%;
  }
  background: $background-lightgrey;
  .aside-content {
    padding: 0.9375rem 0;
  }
  &.faux-left-margin {
    border-left: 1rem solid $background;
  }
  h3 {
    margin-top: 0.5em;
    color: $dark-grey;
  }
}


.aside-content span + span dt {
  margin-top: 0.1rem;
}

.aside-content > dl > span > dt {
  margin-bottom: -0.2em;
}

.aside-content > dl > dd {
  margin-top: -0.4em;
}