@font-face {
  font-family: 'RijksSans';
  src: url('../fonts/ROsanswebtextregular.eot?') format('embedded-opentype'),
       url('../fonts/ROsanswebtextregular.woff') format('opentype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'RijksSans';
  src: url('../fonts/ROsanswebtextitalic.eot?') format('embedded-opentype'),
       url('../fonts/ROsanswebtextitalic.woff') format('opentype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'RijksSans';
  src: url('../fonts/ROsanswebtextbold.eot?') format('embedded-opentype'),
       url('../fonts/ROsanswebtextbold.woff') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RijksSerif';
  src: url('../fonts/ROserifwebregular.eot?') format('embedded-opentype'),
       url('../fonts/ROserifwebregular.woff') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RijksSerif';
  src: url('../fonts/ROserifwebitalic.eot?') format('embedded-opentype'),
       url('../fonts/ROserifwebitalic.woff') format('opentype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'RijksSerif';
  src: url('../fonts/ROserifwebbold.eot?') format('embedded-opentype'),
       url('../fonts/ROserifwebbold.woff') format('opentype');
  font-weight: bold;
  font-style: normal;
}
