/* - */

@import 'base';
@import 'fonts';
@import '~foundation/foundation';
@import 'foundation-settings';

@import 'component_specific/select.scss';

@import 'oo_containers';
@import 'oo_content';
@import 'oo_skin';
@import 'oo_structure';

@import 'html-elements';
@import 'calendar';


.user-area {
  float: right;
  font-size: 14px;
  margin-top: 2em;

  .user-menu {

    ul {
      list-style: none;
    }
  }
}

.promote {
  font-family: 'RijksSerif', Times, Serif;
  font-size: 1.125em;
  margin: 1em 0;
}

.show_no_longer_candidate {
  display: none;
}



