// OO-CSS principle: separate containers from content

header {
  img.logo {
    float: left;
    @include breakpoint(medium) {
      margin-left: 50%;
      margin-left: calc( 50% - 22px);
    }

    width: 230px;
    margin-top: -65px;
    margin-bottom: 7px;
  }
}

header.search {
  border-bottom: 3px solid $line-grey;
  padding-bottom: 0em;
  margin-bottom: 1.2em;
}

.long-read {
  p {
    font-family: "RijksSerif";
    font-size: 1.125em;
  }
}


.not-strong {
  font-weight: normal;
  color: $grey;
}

@keyframes rotate {
    0%   {
      -webkit-transform: rotate(0.01deg);
      -moz-transform: rotate(0.01deg);
      -ms-transform: rotate(0.01deg);
      -o-transform: rotate(0.01deg);
      transform: rotate(0.01deg);
    }
    100%   {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }

}

.no-filtering {
  font-style: italic;
  font-size: 0.9em;
}

.external {
  margin-bottom: 2em;
}

.external-links {
  margin-right: 0.0em !important;
  margin-left: 0.0em !important;
  background: #f3f3f3;
}

.external-information {
  white-space: pre-wrap;
  margin-top: 1em;
}

.loading {
  position: relative;
  overflow: hidden;
  &:before {
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: steps(12,end);
    animation-iteration-count: infinite;
    content: "";
    position: absolute;
    width: 5em;
    height: 5em;
    top: -1em;
    right: -1em;
    z-index: 10;
    background: url('icons/spinners.png') center no-repeat;
    background-size: 5em 5em;


  }
}

.capitalize {
  text-transform: capitalize;
}

.has-tip {
  position: relative;
  &:hover:before {
    position: absolute;
    content: attr(title);
    display: block;
    background: #fff;
    top: 1em;
    border: 1px
  }
  &:hover:after {
    position: absolute;
    content: '';
    display: block;
    background: #fff;
    top: 1em;
    border: 1px
  }
}

.hide-overflow-with-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}

.breadcrumbs {
  li:not(:last-child)::after {
    color: $breadcrumb-grey;
    content: "›";
    font-size: 1.2em;
    line-height: 1em;
    font-weight: bold;
    margin: 0px 0.75rem;
    position: relative;
    top: 1px;
    opacity: 1;
  }
  a:hover {
    text-decoration: none;
  }
}

.filterdrop {
    // TODO use color variables
    border: 1px solid #ccc;
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
    margin-left: .3em;
    color: #555;
    display: inline-block;
  &:after {
    content: ' x';
    color: #555;
    font-weight: bold;
    text-decoration: none;
  }
  &:hover {
    border-color: #aaa;
    color: #000;
  }
}

.license {
  float: right;
  display: inline-block;
  overflow: hidden;
  width: 3.5em;
  height: 1.2em;
  padding: 0px 0px;
  color: $knmi-blue;
  background-size: auto 1.2em;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0.9;
  margin-bottom: 3px;

  span {
    margin-left: -10000px
  }
  &.opendata {
    background-image: url('icons/opendata.png');
  }
  &.open {
    background-image: url('icons/open.png');
  }
  &.registered {
    background-image: url('icons/lock-registration.png');
  }
  &.restricted {
    background-image: url('icons/lock-assignment.png');
  }
}

.periodspan {
  color: $dark-grey;
  opacity: 0.8;
  background-image: url('icons/calendar.png');
  background-size: 20px 20px;
  background-color: none;
  background-repeat: no-repeat;
  padding: 0 0 0 24px;
}
.main .periodspan {
  margin-right: 1.5em;
}

.updatefrequency {
  color: $dark-grey;
  opacity:  0.8;
  background-image: url('icons/updatefrequency.png');
  background-size: 20px 20px;
  background-color: none;
  background-repeat: no-repeat;
  padding: 0 0 0 24px;

}

.property {
  background-color: $background-grey;
  border-radius: 2px;
  margin: 0 4px 3px 0;
  color: $dark-grey;
  float: left;
  padding: 1px 3px;
  font-size: 0.875em;
  &.format {
    &.file {
      background-repeat: no-repeat;
      background-position: 1px 2px;
      background-image: url('icons/file.png');
      background-size: 20px 20px;
      padding: 1px 3px 1px 24px;

    }
  }
  &.service {
    color: $white;
    background-color: $knmi-blue;
  }
  &.preview {
    width: 100%;
    text-align: center;
    background: lighten($ok-color,10%);
    color: $white;
  }
  &.disabled {
    width: 100%;
    text-align: center;
    background: $knmi-lighterred;
    color: $white;
    &.datasetview {
      width: 20%;
      float: right;
      margin-left: 1em;
    }
  }
  &.euporias {

  }
}

.files {
  table tbody tr:nth-child(2n) {
    background-color: inherit;
  }
  font-size: 0.8725em;

  tr.has-subs {
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1)
  }

  tr.sub, tr:nth-child(2n).sub {
    font-size: 0.9em;
    background: $background-lightgrey;
    color: $dark-grey;
    td.name {
      padding-left: 2em;
    }
  }

  tr:last-child.sub {
    border-bottom: $line-grey 1px solid;
    td {
      padding-bottom: 1.5em
    }
  }
}

.finished {
  .hide-when-finished {
    display: none;
  }
}

.calendar-time, .month {
  text-align: center;
  input, select {
    width: 4.5em;

  }

}

.calendar {
  thead {
    th {
      padding: 0.2em 0.5em;
    }
  }
  tbody {
    tr {
    border-bottom: 0.2em solid $white;

      &:nth-child(2n){
        background: #fff;
      }

      td {
        padding: 0.2em 0.5em;
        text-align: center;
        &:hover {
          background: $background-lightblue;
        }
        &.today {
          font-weight: bold;
        }
        &.off {
          background: $background-lightgrey;
        }
        &.in-range {
          background: $knmi-blue;
          color: $white;
        }
        &.start-date {
          background: $knmi-blue;
          color: $white;
          border-radius: 6px 0 0 6px;
        }
        &.end-date {
          background: $knmi-blue;
          color: $white;
          border-radius: 0 6px 6px 0;
        }
      }
    }
  }
}

.daterangepicker_input .input-mini {
  display: none;
}
.daterangepicker.dropdown-menu.opensright, .geoboundspicker.dropdown-menu {
  display: none;
}
.daterangepicker .calendar {
  display: none;
}
.daterangepicker.show-calendar .calendar {
  display: block
}

.geoboundspicker {
  .custom {
    div.openlayersmap {
      float: left;
      margin-right: $global-padding;
    }
    div.buttons {
      clear: left;
      text-align: right;
      width: 100%;
    }
    form {
      float: left;
      input {
        width: 4em;
        font-weight: normal;
        float: right;
      }
      input.error {
        border: 1px solid #f00;
      }
      label {
        float: left;
        text-align: right;
      }
      label span {
        height: 15px;
        box-sizing: border-box;
        width: 15px;
        padding-left: 15px;
        overflow: hidden;
        display: block;
        float: right;
        margin: 5px;
        background-position: right middle;
      }
      label.north {
        width: 12em;
        clear: both;
        padding-right: 3em;
        span {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAAXNSR0IArs4c6QAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEdCzYL7/ykvwAAAdxJREFUGBkB0QEu/gAAEgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8A/wD/AP8A/wD/AP8A/wDTAPkA/wD/AP8A/wD/AQAAAAAAAAAAAAAAAAD/AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPkAagD/AHMA/wAAAAAAAAAAAAAAAAAAAAAAAAAA/wBeAAAA/wAAAIkA/wAAAAAAAAAAAAAAAAAAAAD/AGsABwAAAP8AAQABAI8A/wAAAAAAAAAAAAAAAP8AcgAFAAAAAAD/AAAAAAAEAI8A/wAAAAAAAAAAAAABAAEAAAAAAAAA/wAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAP8ADQAAAAAAAAAAAAAACgAAAAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAA/gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAJcjI7JzZnVQAAAAAElFTkSuQmCC');
        }
      }
      label.west {
        clear: left;
        width: 6em;
        span {
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAAXNSR0IArs4c6QAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEdDAAxpaP6/QAAAdxJREFUGBkB0QEu/gAAAAD/AAAAAAAAAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAA/wAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAAAAAAAP8AUAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAAAA/wBQAAEAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AFQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AP8AVgAAAAEAAAAAAA0AAAAFAAMAAAAAAAEBAAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAIA/wAAAAAAAP8A/wBJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAEA/wBAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAAAA/wBEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAA/wBAAAEAAAAAAAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAA/wABAAAAAAAAAAAAAAAAAAAAAAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgASAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALWxG3/4pFBjAAAAAElFTkSuQmCC');
        }
      }
      label.east {
        width: 6em;
        clear: right;
        span {
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAAXNSR0IArs4c6QAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEdDAAdl3uWHgAAAdxJREFUGBkB0QEu/gAAAAAAAAAAAAAAAAAACgAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAAAAAAAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAFAA/wAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAABAFAA/wAAAAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAFQA/wAAAP8AAAAAAQAAAAAAAwAFAAAADQAAAAAAAQAAAFYA/wD/AAABAAAAAAABAP4AAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASQD/AP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQBAAP8AAQD/AAAAAAAAAAAAAAAAAAAAAAAAAAABAEQA/wAAAAAA/wAAAAAAAAAAAAAAAAAAAAAAAAEAQAD/AAAAAAAAAP8AAAAAAAAAAAAAAAAAAAAAAAABAP8AAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEg47Gn/a57UpAAAAAElFTkSuQmCC');
        }
      }
      label.south {
        width: 12em;
        clear: both;
        padding-right: 3em;
        span {
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAAXNSR0IArs4c6QAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEdCzkBiLFRbgAAAdxJREFUGBkB0QEu/gAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwD/AAAAAAAAAAAAAAAAAAACAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAAAAAAAAIACgAAAAAAAAAAAAAADQAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA/wAAAAAAAAABAAEAAAAAAAAAAAAA/wD/AAQAAAAAAP8AAAAAAAUA/wD/AAAAAAAAAAAAAAAAmAD/AAEAAQD/AAAABwD/AL8AAAAAAAAAAAAAAAAAAAAAoQD/AAAA/wAAAP8AvwAAAAAAAAAAAAAAAAAAAAAAAAcAlwD/AP8A/wC7AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApQD/AKEACQAAAAAAAAAAAAABAP8AAAAAAAAAAAD6AAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEsC4GZfGsbYiAAAAAElFTkSuQmCC');
        }
      }

    }
  }
}

.result {
  a {
    text-decoration: none;
  }
  a:hover {
    h1, h2, h3, h4, h5, h6 {
      text-decoration: underline;
    }
  }
  p {
    color: $off-black;
  }
  padding-bottom: 1em;
  border-bottom: 1px solid $line-grey;
  margin-bottom: 1em;
}

.menu a {
  &:hover, &.active {
    text-decoration: none;
    color: $knmi-blue;
  }
}

.input-group {
  position: relative;
  display: table;
  border-collapse: seperate;
}

.input-group-addon {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: normal;
  color: #fff;
  text-align: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #0d415a;
  line-height: 1.33;
  vertical-align: top;
  margin: 0;
  height: 2.43056rem;
}

.input-webservices {
  display: inline-block;
  width: 30em;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.aside-content span + span dt {
  margin-top: 0.1rem;
}

.aside-content > dl > span > dt {
  margin-bottom: -0.2em;
}

.aside-content > dl > dd {
  margin-top: -0.4em;
}