// OO-CSS principle: separate containers from content

.long-read {
  p {
    font-family: "RijksSerif";
    font-size: 1.125em;
  }
}


.not-strong {
  font-weight: normal;
  color: $grey;
}



.no-filtering {
  font-style: italic;
  font-size: 0.9em;
}

.external {
  margin-bottom: 2em;
}

.external-links {
  margin-right: 0.0em !important;
  margin-left: 0.0em !important;
  background: #f3f3f3;
}

.external-information {
  white-space: pre-wrap;
  margin-top: 1em;
}

@keyframes rotate {
    0%   {
      -webkit-transform: rotate(0.01deg);
      -moz-transform: rotate(0.01deg);
      -ms-transform: rotate(0.01deg);
      -o-transform: rotate(0.01deg);
      transform: rotate(0.01deg);
    }
    100%   {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }

}
.loading {
  position: relative;
  overflow: hidden;
  &:before {
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: steps(12,end);
    animation-iteration-count: infinite;
    content: "";
    position: absolute;
    width: 5em;
    height: 5em;
    top: -1em;
    right: -1em;
    z-index: 10;
    background: url('icons/spinners.png') center no-repeat;
    background-size: 5em 5em;


  }
}


