// OO-CSS principle: separate structure from skin (foundation = structure)


div.lightblue, section.lightblue {
  background: $background-lightestblue;
  h1 {
    color: $knmi-blue;
  }
  p {
    color: $dark-grey;
  }
}

div.knmiblue, section.knmiblue {
  background: $background-knmiblue;
  h1, h2, p, a {
    color: $white;
  }
}

div.darkblue, section.darkblue {
  background: $background-darkblue;
  h1, h2, p, a {
    color: $white;
  }
}

div.white, section.white {
  background: $white;
}

.menu.spaced {
  li {
    padding-right: 1em;
  }
}


.cover {
  background: $white;
}

